@font-face {
  font-family: spotify;
  src: url('/fonts/Spotify-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: spotify;
  src: url('/fonts/Spotify-Book.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: spotify;
  src: url('/fonts/Spotify-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: spotify;
  src: url('/fonts/Spotify-Extrabold.woff2');
  font-weight: 800;
  font-style: normal;
}
